<template>
  <div>
    <notifications
      group="app"
      classes="notifications-style"
      width="360"
      position="bottom right"  />
    <loader v-if="checkingToken" />
    <div v-else>
      <loader v-show="requests > 0" />
      <Navbar />
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import Navbar from './components/Navbar.vue';
import Loader from './components/Loader.vue';

export default {
  name: 'app',
  data () {
    return {
      name: 'Nikita'
    }
  },
  computed: {
    ...mapState({
      requests: state => state.requests,
      error: state => state.error,
      checkingToken: state => state.token.checkingToken
    })
  },
  watch: {
    error () {
      if (this.error) {
        this.$notify({
          group: 'app',
          type: 'error',
          title: 'Ошибка',
          text: this.error
        });
      }
    }
  },
  methods: {
    ...mapActions(['checkTokenOnMount'])
  },
  mounted () {
    this.checkTokenOnMount()
  },
  components: {
    Navbar
  },
}
</script>

<style lang="scss">
  // Body
  $body-bg: #FFFFFF;

  // Fonts
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

  html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
  }

  body {
    margin: 0;
    background-color: $body-bg;
  }

  * {
    box-sizing: border-box;
  }

  .section {
    padding: 5em 0;
    background-color: #ffffff;
  }

  .heading {
    padding: 3em 0 2em;
    border-bottom: 1px solid #bccde7;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button {
      margin: 0;
    }

    .title {
      font-size: 2.2em;
      color: #323232;
      font-weight: 700;
      margin: 0;

      .twotone-icon {
        vertical-align: middle;
        margin-top: -6px;
        margin-right: .4em;
        svg {
          fill: #0057FF;
        }
      }
    }
  }

  .notifications-style {
    padding: 10px;
    margin: 0 15px 15px;
    font-family: Roboto, sans-serif;
    font-size: 15px;

    color: #ffffff;
    background: #44A4FC;
    border-left: 5px solid #187FE7;

    &.warn {
      background: #ffb648;
      border-left-color: #f48a06;
    }

    &.error {
      background: #E54D42;
      border-left-color: #B82E24;
    }

    &.success {
      background: #68CD86;
      border-left-color: #42A85F;
    }
  }
</style>
