<template lang="html">
  <div class="dashboard">
    <sidebar />
    <section class="dashboard-content">
      <router-view></router-view>
    </section>
  </div>
</template>

<script>
import Sidebar from '../../components/Sidebar.vue';
export default {
  name: 'Dashboard',
  components: {
    Sidebar
  }
}
</script>

<style lang="scss">
.dashboard {
  background-color: #ffffff;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  //grid-column: (300px, 1fr);
}

.dashboard-content {
  padding: 0 10em;
}
</style>
