<template lang="html">
  <div>
    <DashboardHeader
      icon="collections"
      title="Датасеты"
      link="/dashboard/datasets/add"
      linkText="Добавить"
    />
    <transition v-if="datasets.length > 0" name="fade" appear>
      <div class="datasets">
        <DatasetItem
          v-for="({ _id, title, folder }) in datasets"
          :key="_id"
          :title="title"
          :folder="folder"
        />
      </div>
    </transition>
    <EmptyData v-else />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import DashboardHeader from '../../components/DashboardHeader.vue';
import DatasetItem from '../../components/DatasetItem.vue';
import EmptyData from '../../components/EmptyData.vue';

export default {
  name: 'dashboard-datasets-page',
  mounted () {
    document.title = 'Датасеты - Админка';
    this.fetchDatasets();
  },
  methods: {
    ...mapActions(['fetchDatasets'])
  },
  computed: {
    ...mapState({
        datasets: state => state.datasets.list
    })
  },
  components: {
    DashboardHeader,
    DatasetItem,
    EmptyData
  }
}
</script>

<style lang="scss">
.datasets {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}
</style>
