<template lang="html">
  <div class="">
    <DashboardHeader
      icon="add"
      title="Добавить датасет"
      link="/dashboard/datasets"
      linkText="Назад"
    />
    <form @submit="this.handleSubmit" class="dataset-add">
      <InlineField
        v-for="({stateName, value, label, helper, placeholder, type}) in fieldsArray"
        :key="stateName"
        v-model="fields[stateName].value"
        :label="label"
        :helper="helper"
        :placeholder="placeholder"
        :type="type"
      />
      <custom-button
        :disabled="!this.checkFieldsComplete()"
        isSubmit
      >
        Готово!
      </custom-button>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

import DashboardHeader from '../../components/DashboardHeader.vue';
import InlineField from '../../components/InlineField.vue';

export default {
  name: 'addDatasetPage',
  mounted () {
    document.title = 'Добавить датасет - Админка'
  },
  data () {
    return {
      fields: {
        title: {
          value: '',
          label: 'Название датасета',
          helper: 'Например, Автомобили',
          placeholder: 'Укажите название датасета',
          stateName: 'title'
        },
        folder: {
          value: '',
          label: 'Папка',
          helper: 'Название папки с изображениями, без косой черты (/)',
          placeholder: 'Введите название папки',
          stateName: 'folder'
        },
      }
    }
  },
  methods: {
    checkFieldsComplete () {
      const { fields } = this;
      const { title, folder } = fields;
      if (
        title.value.length > 0 &&
        folder.value.length > 0
      ) return true;
      return false;
    },
    handleSubmit (e) {
      e.preventDefault();
      if (!this.checkFieldsComplete()) return;
      this.addDataset(this.credentials)
    },
    ...mapActions(['addDataset'])
  },
  computed: {
    fieldsArray () {
      const { title, folder } = this.fields;
      return [ title, folder ];
    },
    credentials () {
      return {
        title: this.fields.title.value,
        folder: this.fields.folder.value
      }
    },
  },
  components: {
    DashboardHeader,
    InlineField
  }
}
</script>

<style lang="scss">
.dataset-add {
  margin-top: 5em;
}
</style>
