<template lang="html">
  <div class="">
    <DashboardHeader
      icon="account_circle"
      title="Пользователи"
      link="/dashboard/users/add"
      linkText="Добавить"
    />
    <div class="users">
       <table v-if="users.length > 0" class="users--table">
         <thead>
           <tr>
             <th>Имя</th>
             <th>Дата регистрации</th>
             <th>Разметил(а) изображений</th>
             <th width="40"></th>
           </tr>
         </thead>
         <transition appear name="fade">
           <tbody>
             <tr
             v-for="user in users"
              :key="user._id"
              :class="[{'user-blocked': user.blocked}]"
            >
               <td class="users--name">
                 <TwoToneIcon icon="face" :size="18" /> {{ user.login }}
               </td>
               <td>{{ m(user.createdAt).format('DD MMM YYYY') }}</td>
               <td>{{ user.imagesMarked || 0 }}</td>
               <td class="users--block">
                 <p @click="blockUser(user._id)">
                   <TwoToneIcon icon="block" :size="18" title="Заблокировать" />
                 </p>
               </td>
             </tr>
           </tbody>
         </transition>
       </table>
     <EmptyData v-else />
   </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import m from 'moment';
import 'moment/locale/ru';

import DashboardHeader from '../../components/DashboardHeader.vue';
import EmptyData from '../../components/EmptyData.vue';
import TwoToneIcon from '../../components/TwoToneIcon.vue';

export default {
  name: 'usersPage',
  mounted () {
    document.title = 'Пользователи - Админка';
    this.fetchUsers();
  },
  methods: {
    m () {
      return m();
    },
    ...mapActions(['fetchUsers', 'blockUser'])
  },
  computed: {
    ...mapState({
      users: state => state.users.list
    })
  },
  components: {
    DashboardHeader,
    TwoToneIcon,
    EmptyData
  }
}
</script>

<style lang="scss">
.users {
  margin-top: 5em;

  &--table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
      th {
        text-align: left;
        font-size: 1.4rem;
        padding-bottom: 1.5em;
      }
    }

    tbody {
      tr {
        transition: all .2s;

        &:hover {
          background-color: #F6F6FF;
        }

        &.user-blocked {
          opacity: .5;
          >.users--block {
            .twotone-icon {
              svg {
                fill: #d0272a;
              }
            }
          }
        }
      }
      td {
        font-size: 1.2rem;
        padding: .8em .5em;
      }
    }
  }

  &--name {
    .twotone-icon {
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  &--block {
    .twotone-icon {
      cursor: pointer;
    }
  }
}

.fade {
  &-enter, &-enter-active {
    opacity: 0;
  }
  &-enter-active {
    transition: opacity .5s;
  }
  &-enter-to {
    opacity: 1;
  }
}

</style>
