<template lang="html">
  <div class="">
    <DashboardHeader
      icon="add"
      title="Добавить пользователя"
      link="/dashboard/users"
      linkText="Назад"
    />
    <form @submit="this.handleSubmit" class="users-add">
      <InlineField
        v-for="({stateName, value, label, helper, placeholder, type}) in fieldsArray"
        :key="stateName"
        v-model="fields[stateName].value"
        :label="label"
        :helper="helper"
        :placeholder="placeholder"
        :type="type"
      />
      <custom-button
        :disabled="!this.checkFieldsComplete()"
        isSubmit
      >
        Готово!
      </custom-button>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

import DashboardHeader from '../../components/DashboardHeader.vue';
import InlineField from '../../components/InlineField.vue';

export default {
  name: 'users-add-page',
  data () {
    return {
      fields: {
        login: {
          value: '',
          label: 'Логин',
          helper: 'Логин пользователя. Минимум 3 символа',
          placeholder: 'Укажите логин пользователя',
          stateName: 'login'
        },
        password: {
          value: '',
          label: 'Пароль',
          helper: 'Пароль должен быть в длину как минимум 6 символов',
          placeholder: 'Введите пароль',
          type: 'password',
          stateName: 'password'
        },
      }
    }
  },
  mounted () {
    document.title = 'Добавить пользователи - Админка';
  },
  methods: {
    checkFieldsComplete () {
      const { fields } = this;
      const { login, password } = fields;
      if (
        login.value.length > 2 &&
        password.value.length > 5
      ) return true;
      return false;
    },
    handleSubmit (e) {
      e.preventDefault();
      if (!this.checkFieldsComplete()) return;
      this.addUser(this.credentials);
    },
    ...mapActions(['addUser'])
  },
  computed: {
    fieldsArray () {
      const { login, password } = this.fields;
      return [ login, password ];
    },
    credentials () {
      const { login, password } = this.fields;
      return {
        login: login.value,
        password: password.value
      }
    }
  },
  mounted () {
    document.title = 'Добавить пользователя'
  },
  components: {
    DashboardHeader,
    InlineField
  }
}
</script>

<style lang="scss">
.users-add {
  margin-top: 5em;
}
</style>
