<template lang="html">
  <div class="sign-in__bg">
    <div class="sign-in">
      <form @submit="this.submitHandler" class="sign-in__form" autoComplete="banana">
        <h1 class="sign-in__title">Авторизация</h1>
        <field
          v-model="login"
          placeholder="Логин"
        />
        <field
          type="password"
          v-model="password"
          placeholder="Пароль"
        />
        <custom-button
          :disabled="!this.validateData()"
          isSubmit
        >
          Войти
        </custom-button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Field from '../../components/Field';

export default {
  name: 'LoginPage',
  data () {
    return {
      login: '',
      password: ''
    }
  },
  methods: {
    submitHandler (e) {
      e.preventDefault();
      if (!this.validateData()) return;
      this.$store.dispatch('login', this.credentials).then(() => this.$router.replace('/datasets'));

    },
    validateData () {
      const {login, password} = this;
      if (login.trim().length > 2 && password.trim().length > 5) return true;
      return false;
    }
  },
  computed: {
    credentials() {
      return {
        login: this.login,
        password: this.password
      }
    },
    ...mapState({
      isAuth: state => state.auth.isAuth
    })
  },
  mounted () {
    document.title = 'Вход';
    if (this.isAuth) this.$router.push('/')
  },
  components: {
    Field
  }
}
</script>

<style lang="scss">
.sign-in {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0, .8);

  &__bg {
    background-image: url('../../assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    color: rgba(255, 255, 255, .95);
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 1.5em 0;
  }

  &__form {
    width: 250px;
    text-align: center;

    input {
      font-size: 1.4rem;
      width: 100%;
      display: inline-block;
      margin: 0 0 2em 0;
      padding: .5em 0;
      outline: none;
      border: none;
      border-bottom: 2px solid #ffffff;
      color: #ffffff;
      font-weight: 600;
      background: transparent;
      transition: opacity .3s;
      opacity: .75;
      font-family: 'Open Sans', sans-serif;

      &:-webkit-autofill {
        background-color: transparent !important;
        color: #ffffff !important;
      }

      &::placeholder {
        color: #ffffff;
        font-weight: 600;
      }

      &:focus {
        opacity: 1;
      }
    }
  }
}
</style>
