<template lang="html">
  <container>
    <div class="heading">
      <h1 class="title">
        <TwoToneIcon :size="24" icon="account_circle" />
        Регистрация
      </h1>
    </div>
    <section class="section">
      <form @submit="this.handleSubmit" class="sign-up">
        <InlineField
          v-for="({stateName, value, label, helper, placeholder, type}) in fieldsArray"
          :key="stateName"
          v-model="fields[stateName].value"
          :label="label"
          :helper="helper"
          :placeholder="placeholder"
          :type="type"
        />
        <custom-button
          :disabled="!this.checkFieldsComplete()"
          isSubmit
        >
          Готово!
        </custom-button>
      </form>
    </section>
  </container>
</template>

<script>
import { mapActions, mapState } from 'vuex';

import InlineField from '../../components/InlineField';
import TwoToneIcon from '../../components/TwoToneIcon';

export default {
  name: 'register-page',
  data () {
    return {
      fields: {
        login: {
          value: '',
          label: 'Логин',
          helper: 'Логин пользователя. Минимум 3 символа',
          placeholder: 'Укажите Ваш логин',
          stateName: 'login'
        },
        password: {
          value: '',
          label: 'Пароль',
          helper: 'Пароль должен быть в длину как минимум 6 символов',
          placeholder: 'Введите пароль',
          type: 'password',
          stateName: 'password'
        },
        confirmPassword: {
          value: '',
          label: 'Повторите пароль',
          helper: 'Указанный выше пароль и этот должны совпадать',
          placeholder: 'Подтвердите пароль',
          type: 'password',
          stateName: 'confirmPassword'
        },
      }
    }
  },

  methods: {
    checkFieldsComplete () {
      const { login, password, confirmPassword } = this.fields;
      if (
        login.value.length > 2 &&
        password.value.length > 5 &&
        confirmPassword.value.length > 5 &&
        password.value === confirmPassword.value
      ) return true;
      return false;
    },
    handleSubmit (e) {
      e.preventDefault();
      if (!this.checkFieldsComplete()) return;
      this.register(this.credentials);
    },
    ...mapActions(['register'])
  },
  computed: {
    fieldsArray () {
      const { fields } = this;
      const { login, password, confirmPassword } = fields;
      return [login, password, confirmPassword];
    },
    credentials () {
      const { login, password } = this.fields;
      return {
        login: login.value,
        password: password.value
      }
    },
    ...mapState({
      isAuth: state => state.auth.isAuth
    })
  },
  mounted () {
    document.title = 'Регистрация';
    if (this.isAuth) this.$router.push('/');
  },
  components: {
    InlineField,
    TwoToneIcon
  }
}
</script>

<style lang="css">
  .sign-up {
    padding-top: 3em;
  }
</style>
