<template lang="html">
  <container>
    <div class="heading">
      <h1 class="title">
        <TwoToneIcon :size="24" icon="collections" />
        Датасеты
      </h1>
    </div>
    <div v-if="requests < 1">
      <transition v-if="datasets.length > 0" name="fade" appear>
        <div class="datasets-select">
          <router-link
            v-for="({ _id, title, folder }) in datasets"
            :to="`/datasets/${folder}`">
            <DatasetItem :title="title" :folder="folder" />
          </router-link>
        </div>
      </transition>
      <empty-data v-else></empty-data>
    </div>
  </container>
</template>

<script>
import TwoToneIcon from '../components/TwoToneIcon';
import DatasetItem from '../components/DatasetItem';
import EmptyData from '../components/EmptyData';

import { mapState, mapActions } from 'vuex';

export default {
  mounted () {
    document.title = 'Датасеты';
    this.fetchDatasets();
  },
  methods: {
    ...mapActions(['fetchDatasets'])
  },
  computed: {
    ...mapState({
      datasets: state => state.datasets.list,
      requests: state => state.requests
    })
  },
  components: {
    TwoToneIcon,
    DatasetItem,
    EmptyData
  }
}
</script>

<style lang="scss">
.datasets-select {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;

  a {
    color: #000000;

    &:hover {
      .dataset-item {
        transform: scale(1.1);
      }
    }
  }
}

</style>
