<template lang="html">
  <div>
    <container>
      <div class="heading">
        <h1 class="title">
          <TwoToneIcon :size="24" icon="crop" />
          Разметка данных
        </h1>
        <custom-button
          @click.native="nextImageHandler"
          :disabled="!checkCoords()" >
          Следующее изображение
        </custom-button>
      </div>
      <section class="section">
          <div class="markups">
            <div v-if="complete && requests < 1" class="markups--complete">
              <p class="markups--message">Все изображения просмотрены</p>
              <router-link to="/datasets">
                <custom-button>К списку датасетов</custom-button>
              </router-link>
            </div>
            <div v-if="!complete && activeMarkup && requests < 1" class="markups--container">
              <JcropElement
                :folder="$route.params.title"
                :image="activeMarkup"
                :onChange="onChange"
                :coords="coords"
              />
            </div>
          </div>
      </section>
    </container>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';

import TwoToneIcon from '../components/TwoToneIcon.vue';
import JcropElement from '../components/JCropElement.vue';

export default {
  name: 'markupPage',
  mounted() {
    document.title = 'Разметка данных';
    this.fetchMarkups(this.$route.params.title);
  },
  data () {
    return {
      coords: []
    }
  },
  methods: {
    onChange (coords) {
      this.coords = coords;
    },
    nextImageHandler () {
      console.log('next image');
      if (!this.checkCoords()) return;
      const data = {
        image: this.activeMarkup,
        dataset: this.$route.params.title,
        coords: this.coords
      }
      this.saveMarkup(data);
      this.coords = [];
    },
    checkCoords () {
      return this.coords.length > 0;
    },
    ...mapActions(['fetchMarkups', 'saveMarkup'])
  },
  computed: {
    complete () {
      return this.markups.length === 0
    },
    ...mapState({
      markups: state => state.markups.list,
      requests: state => state.requests
    }),
    ...mapGetters({
      activeMarkup: 'getFirstMarkup'
    })
  },
  components: {
    JcropElement,
    TwoToneIcon
  }
}
</script>

<style lang="scss">
.markups {
  //text-align: center;

  &--container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  &--complete {
    text-align: center;
  }

  &--message {
    margin-top: 1em;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: #5e7299;
  }

  &--controls {
    text-align: center;
  }
}

</style>
