<template lang="html">
  <div class="container">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'container'
}
</script>

<style lang="scss">
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 32px;
  }
</style>
