<template lang="html">
  <header class="dashboard-header">
    <h1 class="dashboard-header--title">
      <TwoToneIcon :icon="icon" :size="30" />
      {{title}}
    </h1>
    <router-link :to="link">
      <Button>
        {{linkText}}
      </Button>
    </router-link>
  </header>
</template>

<script>
import Button from './Button.vue';
import TwoToneIcon from './TwoToneIcon.vue';
export default {
  name: 'dashboard-header',
  props: {
    icon: {
      type: String
    },
    title: {
      type: String
    },
    link: {
      type: String
    },
    linkText: {
      type: String
    }
  },
  components: {
    Button,
    TwoToneIcon
  }
}
</script>

<style lang="scss">
.dashboard-header {
  height: 84px;
  border-bottom: 1px solid #bccde7;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--title {
    font-size: 2.2em;
    margin: 0;
    display: flex;

    .twotone-icon {
      margin-right: .5em;
      svg {
        fill: #0057FF;
      }
    }
  }

  .button {
    margin: 0;
  }
}

</style>
