<template lang="html">
  <article class="dataset-item">
    <div class="dataset-item--body">
      <p class="dataset-item--title">{{title}}</p>
      <pre class="dataset-item--folder">{{folder}}</pre>
    </div>
  </article>
</template>

<script>
export default {
  name: 'dataset-item',
  props: {
    title: {
      type: String,
      required: true
    },
    folder: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss">
.dataset-item {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px 3px #F6F6FF;
  transition: all .3s;

  &--body {
    padding: 2em;
    text-align: center;
  }

  &--title {
    margin: .5em auto 1.2em;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &--folder {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 auto .8em;
    padding: .8em 2em;
    border-radius: 5px;
    background-color: #F6F6FF;
  }
}
</style>
