<template lang="html">
  <p class="empty-data">
    Ничего не найдено
  </p>
</template>

<script>
export default {
  name: 'empty-data'
}
</script>

<style lang="scss">
.empty-data {
  margin-top: 3.2em;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: #5e7299;
}
</style>
