<template lang="html">
  <div>
    <input
      :type="type"
      :placeholder="placeholder"
      v-model="inputValue"
    />
  </div>
</template>

<script>
export default {
  name: 'field',
  data () {
    return {
      inputValue: this.value
    }
  },
  watch: {
    inputValue(val) {
      this.$emit('input', val);
    }
  },
  props: {
    type: {
      type: String,
      default: "text"
    },
    placeholder: {
      type: String
    },
    value: {
      type: String
    }
  }
}
</script>

<style lang="css">
</style>
