<template lang="html">
  <div class="inline-field">
    <label class="inline-field__label">
      {{label}}
    </label>
    <div class="inline-field__input">
      <input
        :type="type"
        :placeholder="placeholder"
        v-model="inputValue"
        class="{error: error}"
      />
      <p class="inline-field__helper">{{helper}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'inline-field',
  data () {
    return {
      inputValue: this.value
    }
  },
  watch: {
    inputValue (val) {
      this.$emit('input', val)
    }
  },
  props: {
    value: {
      type: String
    },
    type: {
      type: String,
      default: 'text'
    },
    label: {
      type: String
    },
    placeholder: {
      type: String
    },
    helper: {
      type: String
    },
    error: {
      type: String
    }
  }
}
</script>

<style lang="scss">
  .inline-field {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-bottom: 3em;

    &__label {
      flex: 0 0 220px;
      color: #323232;
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 1em;
    }

    &__input {
      flex: 1 0 250px;

      input {
        outline: none;
        width: 100%;
        border: none;
        border-bottom: 1px solid #e2e2e2;
        font-size: 1.5rem;
        padding: 0 0 .5em 0;
        font-family: 'Open Sans', sans-serif;

        &.error {
          border-bottom: 1px solid red;
        }

        &:focus {
          border-color: #b4b4b2;
        }

        &::placeholder {
          color: #b4b4b2;
        }
      }
    }

    &__helper {
      color: #b4b4b2;
      font-size: 1.1rem;
      margin: .75em 0 0 0;
    }
  }
</style>
