<template lang="html">
  <img :src="`/datasets/${folder}/${image}`" alt="" id="crop_image" style="z-index: 0" />
</template>

<script>
import Jcrop from 'jcrop';

export default {
  name: "jcrop-element",
  methods: {
    updateCropsCoords () {
      const stageCoords = [...this.stage.crops].map(crop => ({...crop.pos}));
      this.onChange(stageCoords);
    },
    rightClickHandler (widget, event) {
      event.preventDefault();
    },
    cropRemoveHandler (widget, event) {
      setTimeout(this.updateCropsCoords, 0);
    },
    cropChangeHandler (widget, event) {
      if (widget.pos.w === 0 || widget.pos.h === 0) return this.stage.removeWidget(widget);
      return this.checkIfCropChanged(widget) ? this.updateCropsCoords() : null;
    },
    checkIfCropChanged (widget) {
      const stateData = this.coords;
      const stageData = [...this.stage.crops].map(crop => ({...crop.pos}));
      if (stateData.length !== stageData.length) return true;
      let currentPos = widget.pos;
      return !stateData.some(crop => (
        crop.h === currentPos.h &&
        crop.w === currentPos.w &&
        crop.x === currentPos.x &&
        crop.y === currentPos.y
      ));
    }
  },
  mounted() {
    this.stage = Jcrop.attach('crop_image', {
      shadeColor: 'rgba(0, 0, 0, .75)',
      multi: true,
      //widgetConstructor: customWidget
    });

    this.stage.listen('contextmenu', this.rightClickHandler);
    this.stage.listen('crop.change', this.cropChangeHandler);
    this.stage.listen('crop.remove', this.cropRemoveHandler);

  },
  beforeDestroy() {
    this.stage.el.removeEventListener('crop.change', this.cropChangeHandler);
    this.stage.el.removeEventListener('contextmenu', this.rightClickHandler);
    this.stage.el.removeEventListener('crop.remove', this.cropRemoveHandler);
    this.stage.destroy();
  },
  props: {
    image: {
      type: String,
      required: true
    },
    folder: {
      type: String,
      required: true
    },
    coords: {
      type: Array
    },
    onChange: {
      type: Function
    }
  }
}
</script>

<style lang="scss">
@import url('https://unpkg.com/jcrop/dist/jcrop.css');

.jcrop-widget {
  .jcrop-handle {
    background: rgba(255, 255, 255, .5);
    width: 8px;
    height: 8px;
  }
}
</style>
