<template lang="html">
  <div class="app-loader">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
</template>

<script>
export default {
  name: 'loader'
}
</script>

<style lang="scss">
  .app-loader {
    position: fixed;
    background: rgba(255, 255, 255, .5);
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .lds-ripple {
      position: relative;
      display: inline-block;
      width: 128px;
      height:128px;
    }
    .lds-ripple div {
      position: absolute;
      border: 6px solid rgb(0, 87, 255);
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }
  }

  @keyframes lds-ripple {
  0% {
    top: 58px;
    left: 58px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 120px;
    height: 120px;
    opacity: 0;
  }
  }
</style>
